.guilds-list {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	overflow-y: scroll;
	width: 72px;
	padding-top: 8px;

	.home-button {
		height: 48px;
		width: 48px;
		margin: 0px 12px;
		margin-bottom: 8px;
		cursor: pointer;

		&:active {
			transform: translateY(1px) translateZ(0);
		}
	}

	.guild {
		display: flex;
		flex-direction: row;
		height: 48px;
		margin-bottom: 8px;

		.indicator {
			width: 12px;
			align-items: center;

			.pill {
				display: none; // TODO: unread indicators
				transition: all 0.2s;

				background-color: white;
				height: 12px;
				width: 6px;
				margin-left: 2px;
			}
		}

		.guild-icon-container {
			cursor: pointer;

			&:active {
				transform: translateY(1px) translateZ(0);
			}
		}

		.guild-icon {
			border-radius: 100%;
			transition: border-radius 0.2s ease-in-out;
			width: 48px;

			&.acronym {
				height: 48px;
				text-align: center;
				vertical-align: middle;
				line-height: 48px;
				transition: background-color 0.2s ease-in-out;
				background-color: var(--background-tertiary);
			}
		}

		&.selected .guild-icon, .guild-icon:hover {
			border-radius: 33%;

			&.acronym {
				background-color: var(--background-secondary);
			}
		}
	}
}
