.guilds-list {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	overflow-y: scroll;
	width: 72px;
	height: 100%;

	.home-button {
		width: 48px;
		margin-left: 12px;
	}

	.guild {
		display: flex;
		flex-direction: row;
		height: 48px;
		margin-bottom: 8px;

		.indicator {
			width: 12px;
			align-items: center;

			.pill {
				display: block;
				transition: all 0.2s;

				background-color: white;
				height: 12px;
				width: 6px;
				margin-left: 2px;
			}
		}

		.guild-icon {
			width: 48px;
		}
	}
}
