.droppable-pre {
	height: 8px;

	&.active {
		background-color: green;
	}
}

.droppable-post.active {
	height: 8px;
	background-color: blue;
}

.guilds-list {
	overflow-x: visible;
	overflow-y: scroll;
	width: 72px;
}

.guild {
	height: 48px;
}
