.not-connected {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.shiggy {
		margin-bottom: 10px;
	}
}

.main-view {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;

	.channel-wrapper {
		display: flex;
		flex-direction: column;
		background-color: var(--background-secondary);
		flex-grow: 1;
		overflow: hidden;

		.header-bar {
			height: 48px;
			flex-shrink: 0;
			box-shadow: 0 1px 0 0 var(--accent-secondary);
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 8px;

			.icon {
				color: var(--accent-secondary);
				filter: brightness(1);
				transition: all 0.1s ease-in-out;
			}

			> *:hover .icon {
				filter: brightness(1.5);
			}

			> button {
				cursor: pointer;
			}

			> * {
				margin: 0 8px;
				white-space: nowrap;
			}

			.friends-button {
				padding: 4px 8px;
				border-radius: 4px;
				transition: background-color 0.1s ease-in-out;

				&:hover,
				&.selected {
					background-color: var(--accent-primary);
				}
			}
		}

		.channel {
			overflow: hidden;
		}
	}
}
