:root,
:host {
	--background-primary: #73648a;
	--background-secondary: #453750;
	--background-tertiary: #292030;
	--background-quaternary: #0c0910;
	--accent-primary: #9882ac;
	--accent-secondary: #a393bf;
	--text-normal: white;
	--text-muted: #a0a0a0;
}

@container style(--theme: light) {
	:root,
	:host {
		--background-primary: #f5f5f5;
		--background-secondary: #e0e0e0;
		--background-tertiary: #d6d6d6;
		--background-quaternary: #c9c9c9;
		--accent-primary: #9882ac;
		--accent-secondary: #a393bf;
		--text-normal: black;
		--text-muted: #a0a0a0;
	}
}

::placeholder,
body,
button,
input,
select,
textarea {
	text-rendering: optimizeLegibility;
}

button,
a:-webkit-any-link {
	all: unset;
}

body {
	background-color: var(--background-quaternary);
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
	overflow: hidden;

	#root {
		background-color: var(--background-quaternary);
	}
}
