:host {
	--text-spoiler-color: #1d1d1d;
	--code-background-color: #2e2e2e;
}

.markdown-root {
	white-space: break-spaces;
	word-break: break-word;
	line-height: 1.375em;
	font-size: 1em;

	.mention-box {
		background-color: #5644fdd0;
		padding: 0.1em;
		border-radius: 0.2em;

		svg {
			vertical-align: middle;
		}

		&.clickable {
			cursor: pointer;
		}
	}

	.md-blockquote {
		display: flex;
		flex-direction: row;

		> div {
			width: 4px;
			background-color: #838383;
			border-radius: 4px;
			margin-right: 4px;
		}

		> blockquote {
			margin: 0;
		}
	}

	.md-spoiler {
		transition: all 0.3s;
		background-color: var(--text-spoiler-color);
		cursor: pointer;
		border-radius: 2px;

		> span {
			opacity: 0;
			pointer-events: none;
			transition: all 0.3s;
		}

		&.open {
			background-color: #333333;
			cursor: unset;

			> span {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	.md-url {
		color: #03a2d9;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.md-inlinecode {
		background-color: var(--code-background-color);
		border-radius: 4px;
		padding: 0 4px;
	}

	.md-codeblock code {
		display: block;
		background-color: var(--code-background-color);
		border-radius: 4px;
		padding: 0.5em;
		border: 1px solid #181818;
		white-space: pre-wrap;
	}
}

.md-format-inline {
	.markdown-root {
		pointer-events: none;
	}

	* {
		display: inline;
		white-space: nowrap;
		font-size: 1em;
	}

	code {
		white-space: nowrap;
	}

	:is(h1, h2, h3)::after {
		content: " ";
	}
}
