.platform-windows,
.platform-macos {
	.sidebar {
		border-top-left-radius: 8px;
	}
}

.sidebar {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	width: 240px;
	background-color: var(--background-tertiary);

	.voice-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 24px;
		padding: 4px;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: var(--background-secondary);
		}

		.username {
			margin-left: 6px;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.guild-header {
		font-weight: 500;
		padding: 12px 16px;
		box-shadow: 0 1px 0 0 var(--accent-secondary);
		display: flex;
		flex-direction: row;
		cursor: pointer;

		.guild-name {
			font-size: 16px;
			line-height: 24px;
			flex-grow: 1;
			margin-right: 2px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.header-context-menu-icon {
			color: var(--accent-secondary);
			fill: var(--accent-secondary);
			padding: 2px;
		}
	}

	.channels {
		overflow-y: scroll;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 8px 0;

		.channel {
			cursor: pointer;
			display: flex;
			flex-direction: row;
			border-radius: 4px;
			&.selected {
				background-color: var(--background-secondary);
			}
		}

		&.guild-channels {
			.channel {
				flex-shrink: 0;

				&:hover,
				&.selected {
					.channel-icon,
					.channel-name {
						color: var(--accent-secondary);
						fill: var(--accent-secondary);
						filter: brightness(1.5);
					}
				}

				.channel-icon {
					color: var(--accent-secondary);
					fill: var(--accent-secondary);
				}

				.channel-name {
					color: var(--accent-primary);
					font-size: 16px;
					line-height: 20px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&:not(.category) {
					width: 208px;
					height: 20px;
					margin-left: 8px;
					padding: 6px 8px;

					.channel-name {
						margin-left: 2px;
					}
				}

				&.category {
					padding-left: 2px;
					margin-top: 16px;
					padding-right: 8px;
					height: 24px;

					&:first-child {
						margin-top: 4px;
					}

					.channel-name {
						margin-left: 3px;
						font-size: 100%;
						line-height: 16px;
					}

					.channel-icon > svg {
						transition: transform 0.1s ease-in-out;
					}

					&.collapsed {
						.channel-icon > svg {
							transform: rotate(-90deg);
						}
					}
				}
			}
		}

		&.private-channels {
			.channel.friends-button {
				padding: 8px 17px;

				span {
					padding-left: 8px;
					font-size: 16px;
					line-height: 24px;
				}
			}

			.private-channels-header {
				margin: 8px 0 8px 8px;
			}

			.channel {
				height: 44px;
				margin: 1px 0 1px 8px;
				padding-left: 8px;
				cursor: pointer;

				.channel-text {
					display: flex;
					flex-direction: column;
					justify-content: center;
					overflow: hidden;
					white-space: nowrap;

					.channel-name {
						font-size: 16px;
						line-height: 20px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				&:hover {
					background-color: var(--background-secondary);
				}

				.channel-icon {
					padding: 3px 10px 3px 0;
				}
			}
		}
	}

	.user-area {
		display: flex;
		flex-direction: row;
		padding-left: 8px;
		padding-right: 8px;
		min-height: 52px;
		max-height: 52px;
		border-top: 1px solid var(--accent-secondary);

		.avatar-wrapper {
			height: 40px;
			margin: 6px 0;
			display: flex;
			flex-grow: 1;
			flex-direction: row;
			overflow: hidden;
			border-radius: 8px;
			margin-right: 6px;

			&:hover {
				background-color: var(--background-secondary);
				cursor: pointer;
			}

			.avatar {
				padding-right: 4px;
			}

			.user-info {
				display: flex;
				flex-direction: column;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 13px;
				padding-top: 4px;

				.user-display-name {
					font-size: 14px;
					font-weight: 400;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.user-name {
					font-size: 12px;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				/* i forgot who wrote this, but thanks Solidcord. */
				.text-roll {
					display: inline-block;
					vertical-align: top;
					text-align: left;
					box-sizing: border-box;
					position: relative;
					width: 100%;
					contain: paint;
					padding-top: 2px;

					> * {
						transition: all 0.22s ease;
						transform-style: preserve-3d;
						font-size: 12px;
					}

					.hover {
						opacity: 0;
						transform: translate3d(0, 107%, 0);
						position: absolute;
						top: 2px;
						left: 0;
						bottom: 0;
						right: 0;
					}
				}
			}
		}

		.user-buttons {
			height: 32px;
			margin: 10px 0;
			display: flex;
			flex-direction: row;

			.user-button {
				height: 32px;
				width: 32px;
				color: var(--accent-secondary);
				fill: var(--accent-secondary);
				border-radius: 8px;

				&:hover {
					background-color: var(--background-secondary);
					cursor: pointer;
				}

				> svg {
					margin: 6px;
				}

				&.settings svg {
					transform: rotate(0);
					transition: all 0.3s ease-in-out;
				}

				&:hover.settings svg {
					transform: rotate(60deg);
				}
			}
		}

		&:hover {
			.user-info .text-roll {
				.hover {
					transform: translateZ(0);
					opacity: 1;
				}

				.default {
					transform: translate3d(0, -107%, 0);
					opacity: 0;
				}
			}
		}
	}
}
