.message-embed {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	overflow: hidden;
	max-width: 488px;
	padding: 10px 10px 10px 14px;
	border-color: var(--background-quaternary);
	border-left-width: 4px;
	border-left-style: solid;
	border-radius: 4px;
	background-color: var(--background-tertiary);

	.embed-author {
		> img {
			border-radius: 50%;
			margin-right: 0.5rem;
		}
	}

	.embed-media {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		gap: 5px;
		grid-column: 1/1;
		contain: paint;
	}

	> .embed-provider {
		margin-top: 8px;
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: 400;
		color: var(--text-muted);
	}

	> .embed-author {
		margin-top: 8px;
		line-height: 20px;
		font-size: 16px;
	}

	> .embed-title {
		margin-top: 8px;
		line-height: 20px;
		font-size: 16px;
		font-weight: 600;
	}
}
