.avatar .avatar-mask > rect {
	transition: all 0.3s ease-in-out;
}

.avatar {
	overflow: visible;
	overflow-clip-margin: content-box 100px; // yea yea whatever

	img {
		border-radius: 50%;
	}
}

.status {
	.status-status,
	mask > rect {
		transition: all 0.3s ease-in-out;
	}

	&.status-typing .status-status,
	&.status-offline .status-status {
		fill: #747f8d;
	}
	&.status-streaming .status-status {
		fill: rgb(89, 54, 149);
	}
	&.status-online .status-status {
		fill: #3ba55d;
	}
	&.status-idle .status-status {
		fill: #faa81a;
	}
	&.status-dnd .status-status {
		fill: #ed4245;
	}

	circle {
		fill: white;
		fill-opacity: 0;
		transition-property: fill-opacity, cx;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
		animation-play-state: paused;
		animation: opac 2s linear infinite both;
	}

	&.status-typing circle {
		fill-opacity: 1;
		animation-play-state: running;
	}
}

@keyframes opac {
	0% {
		opacity: 0;
	}

	15% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	85% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
