.clan-badge {
	display: inline-flex;
	align-items: center;
	gap: 2px;
	background-color: #fefefe46;
	padding: 0 2px;
	border-radius: 4px;

	&.clickable {
		cursor: pointer;
	}

	&:hover {
		background-color: #fefefea6;
	}
}
