:root {
	--ctx-background: var(--background-quaternary);
	--ctx-separator: #333;
	--ctx-text: #fff;
	--ctx-border-radius: 4px;

	--ctx-primary: #123456;
	--ctx-red: #ff0000;
	--ctx-yellow: #ffff00;
	--ctx-green: #00ff00;
}

.ctxmenu {
	background-color: transparent;

	&.submenu {
		margin: 0;
		padding: 0 var(--padding);
	}

	.ctxmenu-bg {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		min-width: 188px;
		max-width: 320px;
		max-height: calc(100vh - 32px);
		overflow-y: scroll;

		background-color: var(--ctx-background);
		padding: var(--padding);
		padding-right: calc(var(--padding) - 8px);
		border-radius: var(--ctx-border-radius);
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);

		.ctxmenu-item {
			flex-shrink: 0;
			background-color: transparent;
			padding: 6px 8px;
			line-height: 18px;
			font-size: 100%;
			margin: 2px 0;
			display: flex;
			flex-direction: row;
			overflow: hidden;
			width: calc(100% - var(--padding) - 8px);
			border-radius: 4px;
			align-items: center;

			.ctx-text {
				flex-grow: 1;
				flex-shrink: 1;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.ctx-label {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.ctx-subtext {
					font-size: 80%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}

			.ctx-icon {
				height: 18px;
				width: 18px;
			}

			&.disabled {
				filter: brightness(0.6);
			}

			&.color-primary {
				color: var(--ctx-text);

				.checkbox {
					accent-color: var(--ctx-text);
				}

				.ctx-icon {
					color: var(--ctx-text);
					fill: var(--ctx-text);
				}
			}

			&.color-red {
				color: var(--ctx-red);

				.ctx-checkbox {
					accent-color: var(--ctx-red);
				}

				.ctx-icon {
					color: var(--ctx-red);
					fill: var(--ctx-red);
				}
			}

			&.color-yellow {
				color: var(--ctx-yellow);

				.ctx-checkbox {
					accent-color: var(--ctx-yellow);
				}

				.ctx-icon {
					color: var(--ctx-yellow);
					fill: var(--ctx-yellow);
				}
			}

			&.color-green {
				color: var(--ctx-green);

				.ctx-checkbox {
					accent-color: var(--ctx-green);
				}

				.ctx-icon {
					color: var(--ctx-green);
					fill: var(--ctx-green);
				}
			}

			&.selected {
				&.color-primary {
					background-color: var(--ctx-primary);
				}

				&.color-red {
					background-color: var(--ctx-red);
					color: var(--ctx-text);
				}

				&.color-yellow {
					background-color: var(--ctx-yellow);
					color: var(--ctx-text);
				}

				&.color-green {
					background-color: var(--ctx-green);
					color: var(--ctx-text);
				}
			}

			.ctx-checkbox {
				background-color: transparent;
			}
		}

		.ctxmenu-separator {
			margin: 4px;
			border-bottom: 1px solid var(--ctx-separator);
		}
	}
}
