.custom-status {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	img {
		margin-right: 4px;
	}
	> span {
		font-size: 12px;
		line-height: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:first-child {
			flex-shrink: 0;
		}
	}

	.activity-box {
		margin-left: 4px;
		margin-top: 1px;
		padding-right: 6px;
	}
}
