:root {
	--media-transition-duration: 0.3s;
	--media-favorite-star-color: #ffcc00;
}

.media {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	border-radius: 4px;
	overflow: hidden;
	user-select: none;

	> * {
		grid-row: 1;
		grid-column: 1;
		width: 100%;
		height: 100%;
	}
}

.thumb-placeholder {
	opacity: 1;
	transition: opacity var(--media-transition-duration);

	&.short-animation {
		transition: opacity 0s;
	}

	&.hidden {
		opacity: 0;
	}
}

.media-image > img {
	width: inherit;
	height: inherit;

	&.media-image-image {
		user-select: text;
	}
}

.media-video {
	width: fit-content;
}

.youtube-embed .thumbnail-container {
	display: grid;
	place-content: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	cursor: pointer;

	> * {
		grid-row: 1;
		grid-column: 1;
	}

	.buttons-container {
		display: grid;
		place-content: center;

		.container-inner {
			background-color: #000000c2;
			display: flex;
			flex-direction: row;
			gap: 8px;
			padding: 12px;
			border-radius: 24px;

			> * {
				accent-color: #fff;
				cursor: pointer;
				opacity: 0.7;

				&:hover {
					opacity: 1;
				}

				&:active {
					transform: translateY(1px);
				}
			}
		}
	}
}

.media-image-error {
	display: flex;
	z-index: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-tertiary);
}

.spoiler-item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: fit-content;
	border-radius: 4px;
	overflow: hidden;

	.spoiler-warning,
	.spoiler-content-container {
		grid-row: 1;
		grid-column: 1;
		width: 100%;
		height: 100%;
	}

	.spoiler-content-container {
		overflow: hidden;
		transform: translate3d(0, 0, 0);

		.spoiler-content {
			filter: blur(44px);
			transition: filter var(--media-transition-duration);
		}
	}

	.spoiler-warning {
		display: grid;
		place-content: center;
		z-index: 1;
		cursor: pointer;

		.warning-container {
			display: grid;
			place-content: center;
			width: 0px;
			height: 0px;
			overflow: visible;

			> strong {
				background-color: black;
				padding: 8px 12px;
				border-radius: 20px;
				color: white;
			}
		}
	}

	&.spoiler-open {
		.spoiler-content-container .spoiler-content {
			filter: none;
		}

		.spoiler-warning {
			display: none;
		}
	}
}

.media-alt-text {
	position: relative;
	pointer-events: none;

	.media-alt-text-container {
		position: absolute;
		bottom: 9px;
		left: 5px;

		> strong {
			pointer-events: all;
			padding: 4px 8px;
			background-color: #000000bb;
			border-radius: 4px;
			transition: background-color 0.2s;
			cursor: pointer;

			&:hover {
				background-color: #000000dd;
			}
		}
	}
}

.tippy-alt-text {
	padding: 8px 4px;
	display: flex;
	flex-direction: column;
	gap: 4px;

	.alt-text-header {
		text-transform: uppercase;
		font-size: 0.9em;
	}

	.alt-text-content {
		font-size: 1.1em;
	}
}

.media-favorite-star {
	position: relative;

	.media-favorite-star-container {
		position: absolute;
		top: 5px;
		left: 5px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		cursor: pointer;

		.star {
			fill: #fff;
			transition: fill var(--media-transition-duration);
			cursor: pointer;
			grid-row: 1;
			grid-column: 1;
			align-self: center;
			justify-self: center;
		}

		&:hover,
		&.is-favorite {
			.star {
				fill: var(--media-favorite-star-color);
			}
		}
	}
}

.loading-spinner {
	position: relative;
	opacity: 1;
	transition: opacity var(--media-transition-duration);
	pointer-events: none;

	&.hidden {
		opacity: 0;
	}

	.loading-spinner-inner {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: grid;
		place-content: center;
		background-color: var(--background-tertiary);

		&::after {
			content: "";
			width: 12.5px;
			height: 12.5px;
			border-radius: 50%;
			border: 4px solid var(--background-secondary);
			animation:
				l20-1 0.8s infinite linear alternate,
				l20-2 1.6s infinite linear;
		}
	}
}

@keyframes l20-1 {
	0% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
	}
	12.5% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
	}
	62.5% {
		clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
	}
}
@keyframes l20-2 {
	0% {
		transform: scaleY(1) rotate(0deg);
	}
	49.99% {
		transform: scaleY(1) rotate(135deg);
	}
	50% {
		transform: scaleY(-1) rotate(0deg);
	}
	100% {
		transform: scaleY(-1) rotate(-135deg);
	}
}
