.tippy-box[data-theme~="standard"] {
	background-color: var(--background-quaternary);
	color: #fff;
	border-radius: 4px;

	> .tippy-content {
		padding: 8px 12px;
		font-size: 14px;
		line-height: 16px;
	}

	> .tippy-svg-arrow {
		fill: var(--background-quaternary);
	}
}
