:host {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	gap: 2px;

	> .username-name:hover {
		text-decoration: underline;
	}

	> * {
		cursor: pointer;
	}
}

:host(.no-interact) {
	pointer-events: none;
}
