:root {
	--message-aside-width: 60px;
}

.message {
	display: flex;
	flex-direction: column;
	user-select: text;

	&.message-compact.is-group-start .message-aside span.message-date,
	&:hover .message-aside span.message-date {
		opacity: 1;
	}

	.avatar {
		user-select: none;
	}

	.emoji {
		vertical-align: bottom;
		height: 1.375rem;
		width: 1.375rem;
	}

	&.message-compact {
		.username {
			padding: 0 5px;
		}
	}

	&.message-cozy {
		&.is-group-start {
			margin-top: 17px;
		}

		.username {
			padding-right: 5px;
		}

		.message-main {
			padding-left: 4px;
		}
	}

	.message-attachments {
		display: flex;
		flex-direction: column;
		max-width: 550px;
	}

	.message-container {
		display: flex;
		flex-direction: row;

		.message-aside {
			width: var(--message-aside-width);
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			flex-grow: 0;
			flex-shrink: 0;

			.message-date {
				opacity: 0;
			}
		}

		.message-main {
			flex-grow: 1;
			max-width: 90%;
		}
	}
}

.message-divider {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 24px 14px 8px 16px;

	--divider-color: #b3b3b3;

	&.unread {
		--divider-color: #ff3c3c;
	}

	> .divider-date {
		padding: 0 10px;
	}

	> .divider-line {
		flex-grow: 1;
		height: 1px;
		background-color: var(--divider-color);
	}
}

.message-reply {
	display: flex;
	flex-direction: row;
	user-select: none;

	.reply-line {
		border-top-left-radius: 4px;
		border-top: 2px solid grey;
		border-left: 2px solid grey;
		margin-top: 5px;
		margin-right: 4px;
		margin-bottom: 2px;
		width: 30px;
		margin-left: 40px;
		flex-shrink: 0;
	}

	.avatar {
		margin-right: 4px;
	}

	.content {
		text-overflow: ellipsis;
		overflow: hidden;
		flex-shrink: 1;

		.markdown-root {
			pointer-events: none;
		}

		* {
			display: inline;
			white-space: break-spaces;
			font-size: 1em;
		}

		code {
			white-space: nowrap;
		}

		:is(h1, h2, h3)::after {
			content: " ";
		}
	}
}
